<div class="border-header">
<% const graffiti = ['Can', 'Bus', 'Wall', 'Park', 'Spray', 'Street', 'Love', 'Hate', 'Art'] %>
<%  r = (Math.floor(Math.random()*graffiti.length)) %>
  <h1>Graffiti <%= graffiti[r] %> </h1>
</div>
