body {
}

.bg {
  background-image: url("https://images.unsplash.com/reserve/unsplash_52c36f0e157de_1.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

#map {
  height: 400px;
  width: 100%;
}

.border-header {
  background-color: white;
  height: 100px;
}

.navbar {
  opacity: 0.5;
  font-family: 'Rationale', sans-serif;

}

h1 {
  text-align: center;
  line-height: 90px;
  font-family: 'Rationale', sans-serif;
}

.border-header {
  width: 100%;
  height: 100px;
  display: block;
  margin-top: 160px;
  left: 0;
}

.form-group {
  width: 100%;
}

form {
  width: 300px;
  margin: 0 auto;
}

img {
  height: 500px;
}

.artistImage {
  height: 300px;
  width: 300px;
}

.infowindow {
  height: 300px;
  width: 300px;
  font-family: 'Rationale', sans-serif;

}

.artist-title {
  text-align: center;
  font-family: 'Rationale', sans-serif;

}

p {
  text-align: center;
  font-family: 'Rationale', sans-serif;
}

artist-image {
  margin: auto;
}

.container {
  margin: 0 auto;
  margin-top: 40px;
  margin-left: 32%;
  margin-bottom: 20px;
  position: relative;

  .well {
    margin: 0 auto;
  }

  .center {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
  }
}
.word-span {
  font-weight: bold, black solid;
}
