<div class="well">
  <div id="slideCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% artists.forEach((artist, i) => { %>
        <div class="item <% if (i === 0) { %>active<% } %>">
        <p class="center"><%= artist.artist %></p>
        
        <img class="center" src="<%= artist.image %>" alt="<%= artist.title %>'s image">

        </div>

        <% }); %>
      </div>

      <a class="left carousel-control" href="#slideCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#slideCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
