<h1>Add Image</h1>

<form method="post" action="/artists">
  <label for="artist">Artist</label>
  <input type="text" id="artist" name="artist">

  <label for="description">Description</label>
  <textarea id="description" name="description"></textarea>

  <label for="Image"></label>
  <input type="text" id="" name="">

  <label for="genre">Genre</label>
  <input type="text" id="genre" name="genre">


  <input type="submit" value="Submit">
</form>
